<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PABDHotel.Properties.Settings.HotelHewanPeliharaanKuanConnectionString"
            connectionString="Data Source=LAPTOP-0LTDAB53\MSIDIQ;Initial Catalog=HotelHewanPeliharaanKuan;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>